<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osg.project01bookdiary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_round"
        android:label="기억독서"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.osg.project01bookdiary_sharedreview.DetailedSharedReviewActivity" />
        <activity android:name=".EditRevActivity" />
        <activity android:name=".MyDetailedReviewActivity" />
        <activity android:name=".AddRevActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>


        <!--푸시서비스-->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="a802a19d22d9f8633a53e5c8965e4d62" />

        <!--FCM 토큰 자동 초기화 방지-->
<!--        <meta-data-->
<!--            android:name="firebase_messaging_auto_init_enabled"-->
<!--            android:value="false" />-->
<!--        <meta-data-->
<!--            android:name="firebase_analytics_collection_enabled"-->
<!--            android:value="false" />-->


    </application>

</manifest>